@use "@angular/material" as mat;
@import "@angular/material/theming";

@include mat.core();

/************************
 Theming section
************************/

// Custom themable components
@import "../app/app.component";
@import "../app/components/color-suggestions/color-suggestions.component";
@import "../app/components/color-palette/color-palette.component";

@mixin custom-components-theme($theme) {
  @include app-theme($theme);
  @include color-suggestions-theme($theme);
  @include color-palette-theme($theme);
}

@import "../themes/light.scss";
@import "../themes/dark.scss";

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include custom-components-theme($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include custom-components-theme($dark-theme);
}

/************************
 Default global styles
************************/
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
