.color-input {
  mat-card {
    box-shadow: 0px 11px 39px -13px #2632385c;
  }
}

.color-form {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: baseline;
  grid-template-columns: 4fr 1fr 4fr;

  .color-form-field {
    width: 100%;
  }
}
