<div class="color-input row d-flex justify-content-center py-3">
  <div class="col-12 col-lg-8">
    <mat-card class="p-3 mat-elevation-z0">
      <form
        [formGroup]="colorForm"
        (keyup)="triggerConvert()"
        class="color-form d-flex justify-content-between align-items-center gap-lg-4 align-items-lg-baseline flex-lg-row flex-column"
      >
        <mat-form-field class="color-form-field">
          <mat-label>Arbitrary CSS Color</mat-label>
          <input
            id="color-input"
            matInput
            cdkFocusInitial
            formControlName="colorInput"
            required
          />
          <mat-error
            id="required-error"
            *ngIf="colorForm.get('colorInput')?.hasError('required')"
            >Please enter a color!</mat-error
          >
          <mat-error
            id="invalid-color-error"
            *ngIf="
              colorForm.get('colorInput')?.value &&
              colorForm.get('colorInput')?.hasError('validateCssColor')
            "
            >Color is invalid!</mat-error
          >
          <input
            type="color"
            matSuffix
            [value]="getColorFormValue()"
            (change)="onChangeColorPicker($event)"
          />
          <mat-hint> Enter a CSS color value. </mat-hint>
        </mat-form-field>

        <mat-icon class="d-none d-lg-block overflow-visible"> arrow_forward </mat-icon>
        <mat-icon class="d-lg-none mb-2"> arrow_downward </mat-icon>

        <mat-form-field class="color-form-field">
          <mat-label>Material Design Color</mat-label>
          <input
            id="color-output"
            matInput
            formControlName="colorOutput"
            readonly
          />
          <button
            mat-icon-button
            matSuffix
            [attr.aria-label]="'Switch between HEX, RGB and HSL'"
            matTooltip="Switch between HEX, RGB and HSL"
            (click)="switchColorOutputFormat()"
          >
            <mat-icon>sync_alt</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="copiedToClipboard = true"
            [attr.aria-label]="'Copy to clipboard'"
            [attr.aria-pressed]="copiedToClipboard"
            [cdkCopyToClipboard]="colorForm.get('colorOutput')?.value ?? ''"
            matTooltip="Copy to clipboard"
          >
            <mat-icon>{{
              copiedToClipboard ? 'check' : 'content_paste'
            }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card>
  </div>
</div>
