<div [ngClass]="(appColorTheme$ | async) ?? ''" class="vh-100">
  <div class="app vh-100">
    <header>
      <div class="app-header container">
        <img src="assets/logo.png" alt="App Logo" class="app-logo" />
        <h1 class="app-title">Material Color Converter</h1>
      </div>
      <div class="color-input-section pt-4">
        <div #container class="container">
          <app-color-input-output
            (convert)="convert($event)"
            [selectedColor]="selectedColor"
            [initialColor]="initialColor"
          ></app-color-input-output>
        </div>
      </div>
      <div class="dark-mode-toggle-area">
        <button
          mat-icon-button
          matTooltip="Toggle Dark Mode"
          aria-label="Button to toggle dark mode"
          (click)="toggleTheme()"
        >
          <mat-icon>{{
            (appColorTheme$ | async) === "dark-theme"
              ? "wb_sunny"
              : "brightness_2"
          }}</mat-icon>
        </button>
      </div>
    </header>

    <main class="container mt-lg-5 mt-2">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col-lg-2 col-12">
              <app-color-suggestions
                [selectedColor]="selectedColor"
                [suggestedColors]="suggestedColors"
                (selectColor)="selectColor($event)"
              ></app-color-suggestions>
            </div>
            <div class="col-lg-10 col-12 mt-lg-0 mt-4">
              <app-color-palette
                [selectedColor]="selectedColor"
                (selectColor)="selectColor($event)"
              ></app-color-palette>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="footer-text text-center my-5">
              <p>
                Created with ♡ by
                <a href="https://pkief.github.io/">Philipp Kief</a>
              </p>
              <a
                href="https://github.com/PKief/material-color-converter"
                aria-label="Link to GitHub repository"
              >
                <img src="assets/github.svg" alt="GitHub Logo" fill="#AB7C94" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
