.header-container {
  background: linear-gradient(0deg, #ffffff 15%, #ffeb3b2e 15%);
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1.app-title {
    color: #263238;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.5px;
  }

  img.app-logo {
    width: 9rem;
    padding: 2rem 0px;
  }
}

.color-input-section {
  width: 100%;
}

.color-values {
  width: 100%;
  border: 1px solid #c6c6c6;
  padding: 2rem;
  border-radius: 5px;
  margin-top: 3rem;

  mat-form-field {
    width: 100%;
  }
}
