@use "@angular/material" as mat;
@import "@angular/material/theming";

// custom background and foreground palettes
$dark-theme-background: (
  status-bar: #32373a,
  app-bar: rgba(#111111, 0.85),
  background: #111111,
  hover: rgba(#fff, 0.04),
  card: #191919,
  dialog: #141414,
  disabled-button: $white-12-opacity,
  raised-button: map-get(mat.$grey-palette, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get(mat.$grey-palette, 900),
  selected-disabled-button: map_get(mat.$grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get(mat.$grey-palette, 700),
  disabled-list-option: black,
);

$dark-theme-foreground: (
  base: #fff,
  divider: $white-12-opacity,
  dividers: $white-12-opacity,
  disabled: rgba(#fff, 0.3),
  disabled-button: rgba(#fff, 0.3),
  disabled-text: rgba(#fff, 0.3),
  hint-text: rgba(#fff, 0.3),
  secondary-text: rgba(#fff, 0.7),
  icon: rgba(#fff, 0.7),
  icons: #fff,
  text: #fff,
  slider-min: #fff,
  slider-off: rgba(#fff, 0.3),
  slider-off-active: rgba(#fff, 0.3),
);

@function create-dark-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$red-palette)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $dark-theme-foreground,
    background: $dark-theme-background
  );
}

$theme-primary: (
  50: #e1e1e1,
  100: #b4b4b4,
  200: #828282,
  300: #4f4f4f,
  400: #2a2a2a,
  500: #040404,
  600: #030303,
  700: #030303,
  800: #020202,
  900: #010101,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$theme-accent: (
  50: #e8e8e8,
  100: #c6c6c6,
  200: #1b1b1b,
  300: #7b7b7b,
  400: #5e5e5e,
  500: #424242,
  600: #3c3c3c,
  700: #333333,
  800: #2b2b2b,
  900: #1d1d1d,
  A100: #f07878,
  A200: #eb4a4a,
  A400: #ff0303,
  A700: #e90000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$dark-theme-primary: mat.define-palette($theme-primary);
$dark-theme-accent: mat.define-palette($theme-accent);
$dark-theme-warn: mat.define-palette(mat.$red-palette);

$dark-theme: create-dark-theme(
  $dark-theme-primary,
  $dark-theme-accent,
  $dark-theme-warn
);
