<div class="color-input row d-flex justify-content-center py-3">
  <div class="col-12 col-lg-8">
    <mat-card class="p-3 mat-elevation-z0">
      <form
        [formGroup]="colorForm"
        (keyup)="triggerConvert()"
        class="color-form d-flex justify-content-between align-items-center gap-lg-4 align-items-lg-baseline flex-lg-row flex-column"
      >
        <mat-form-field class="color-form-field">
          <mat-label>Arbitrary CSS Color</mat-label>
          <input
            id="color-input"
            matInput
            cdkFocusInitial
            formControlName="colorInput"
            [imask]="colorPatternMask"
            required
          />
          <mat-error
            id="required-error"
            *ngIf="colorForm.get('color')?.hasError('required')"
            >Please enter a color!</mat-error
          >
          <input
            type="color"
            matSuffix
            [value]="getColorFormValue()"
            (change)="onChangeColorPicker($event)"
          />
          <mat-hint> Enter either HEX or RGB color values. </mat-hint>
        </mat-form-field>

        <mat-icon class="d-none d-lg-block"> arrow_forward </mat-icon>
        <mat-icon class="d-lg-none mb-2"> arrow_downward </mat-icon>

        <mat-form-field class="color-form-field">
          <mat-label>Material Design Color</mat-label>
          <input
            id="color-output"
            matInput
            formControlName="colorOutput"
            readonly
          />
        </mat-form-field>
      </form>
    </mat-card>
  </div>
</div>
